html {
    background-image: url('./logos/backgroundMission.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: pink;
}

/* src/Footer.css */
.footer {
    background-color: black;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  